$color-base:#2f353a;
$color-background:rgb(240, 240, 240);
$color-decoration:#01BCF3;
$color-text1: white;
$color-text2:rgba(255, 255, 255, 0.57);
$color-text3: black;
$color-box-shadow:#7E7E7E;
$color-table:rgb(200, 200, 200);
$color-table-hover:rgba(1, 203, 243, 0.3);