.content{
  border: 1.5px solid #cccccc;
  height: 30px;
  width: 500px;
  background-color: #e0e0e0;
}

.anterior{
float:left;
margin-top: -15px;
padding: 5px;
}

.siguiente{
float: right;
margin-top: -15px;
padding: 5px;
}
