body {
   background-image: url("kitten-large.png");
   background-repeat: no-repeat;
    
      }
    
      @media screen and (max-width: 768px) {
        body {
            background-image: url("kitten-medium.png")
             
               }
    
    }
   
    
    @media screen and (max-width: 570px) {
        body {
            background-image: url("kitten-small.png")
             
               }
    
    }
    
    